body {
    background-image: url("/app/img/karaoke-star.jpg");
    background-color: #cccccc;
    background-size: 100%;
}
h1{
    text-align: center;
}

.videox {
    border: 2px solid;
    padding: 1.5%;
    float: auto;
    padding: 10px;
    opacity: 1;
    width: 350px;
    height: 300px;
    margin-left: 5px;
    border-radius: 20px;
    box-shadow: 12px 12px 7px #35cee4;
    background-color: white;
    font-size: .8em;
}

#video1 {
    border: 2px solid;
    padding: 1.5%;
    padding: 10px;
    opacity: 1;
    width: 350px;
    height: 300px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 12px 12px 7px #35cee4;
    background-color: white;
    font-size: .8em;
    position: left;


}
.prv{
    z-index: 2;
}
.box{
    vertical-align: center;

}

.navbar {
    border-radius: 5px;
    background-color: #ECEEF5;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

.savedButtons {}

.btn {
    background-color: #1C8EC7;
    box-shadow: 2px 2px 1px #35cee4;
}

.btnx {
    width: 97px;
    height: 34px;
    background-color: #1C8EC7;
    box-shadow: 2px 2px 1px #35cee4;
    font: menu;
    float: auto;
    color: ButtonText;
}

.anc {
    /*border-radius: 2px;*/
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    font: menu;
    color: ButtonText;
    padding: 10px 15px;
    background-color: #1C8EC7;
    box-shadow: 2px 2px 1px #35cee4;
    border-color: black;
    float: auto;
}

.com {
    background-color: white;
}

.playVid {
    align-self: center;
}

h1 {
    text-align: center;
    font: Impact;
}

#title {
    font-size: 12px;
}
