<div class="row filters">
  <h3> <span class="breadCrumb"></span></h3>
  <button class="filter waves-effect btn-flat showUntracked" type="button">Show Untracked</button>
  <button class="filter btn-flat showUnwatched disabled" type="button" disabled>Show Unwatched</button>
  <button class="filter btn-flat showWatched disabled" type="button" disabled>Show Watched</button>
  <button class="filter btn-flat showFavorites disabled" type="button" disabled>Favorites</button>

</div>
<div class="row">


  <div class="col offset-m1 m8 newUser">
    <h4>You need to search and add movies to your account.</h4>
      <ol>
        <li>
          First you need to search for an item using the above search bar!
        </li>
        <li>
          Then you can click <button class="waves-effect waves-light btn">Add to Watchlist</button>
        </li>
        <li>
          After you follow these steps go ahead and rate your movie using our <i class="material-icons">star</i> feature!
        </li>
        <li>
          Remember that 10 stars makes your movie a favorite!
        </li>
      </ol>
  </div>

<div class="movieDiv col m4 col s6">

  <div class="z-depth-1 movieCard center-align" rating="" saved="">
  <div class="chip right-align delete-btn" key="">
    Delete <i class="close material-icons">close</i>
  </div>
    <div class="z-depth-1 movieCard center-align">

  <h5 class="title">  </h5>
  <img src=" alt=" Image" class="movieImg">
  <p> Released in  </p>
  <p> Staring:  </p>

  <span class="rating">

  </span>

    <button type="button" class="addMovie" key="> Add to Watchlist </button>

</div>
</div>

</div>
